doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title Casos 2° Parte
body
	h1 Casos 2° Parte
	- var friends = 0
	case friends
		when 0
		when 1
			h4 You have very few firends 
		default
			h4 You have #{friends} friends
	