h1{
    text-align: center;
    -webkit-animation: title 5s;
}

@-webkit-keyframes title{

    0%{
        margin-left: 50px;
    }
    
    33%{
        margin-left: 50px;
        margin-top: 1000px;
    }
    
    66%{
        margin-right: 500px;
        margin-top:150px;
    }
    
    100%{
        margin: 0 auto;
    }
}
